{% load static %}
<!-- <!DOCTYPE html> -->
<html lang="en">
    
<head>
    <!-- <meta charset="UTF-8"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <link rel="stylesheet" href="{% static 'index.css' %}"> -->
    <title>RecoPop</title>
</head>

<body>

  <a href="logout"> Logout </a>

    <div class="App">

        <div class="container">
          
          <input
          class='recommend'
          type="text"
          placeholder='Recommend a track'
          />
          <button class='post' onclick="">Post</button>
        </div>
  
      </div>
</body>
</html>