{% load static %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>RecoPop</title>
</head>

<body>
  <img width="50" height="50" src="{{user_profile.profileimg.url}}" />

  <a href="logout"> Logout </a>
  <br>
  <a href="settings"> Settings </a>
  <br>
  <a href="profile/{{user.username}}"> Profile </a>

  <form action="/search" method="POST">
    {% csrf_token %}
    <div>
      <input type="text" name="username" placeholder="Search for username..." />
      <button type="submit">Search</button>
    </div>
  </form>
    
    <div class="App">

      <form action="upload/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="container">

          <input class='recommend' type="text" placeholder='Recommend a track' name="track_name" />
          <textarea class='caption' placeholder='caption...' name="caption"></textarea>
          <br>

          <button class='post' type="submit">Post</button>

        </div>

      </form>

      <br>

      {% for post in posts reversed %}
        <div>
          <span><img width="50" height="50" style="border-radius: 50%" src="{{post.user_profile.profileimg.url}}" /></span>
          <span><a href="profile/{{post.user}}">{{post.user}}</a></span>
        </div>

        <div>
          <iframe 
          style="border-radius:12px" src="https://open.spotify.com/embed/track/{{post.track_id}}" 
          width="100%" height="152" frameBorder="0" allowfullscreen="" 
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
          </iframe>
        </div>

        <div>
          <a href="/like-post?post_id={{post.id}}"><img width="40" height="40" src="{% static 'flame.png' %}" /></a>
          {% if post.no_of_likes == 0 %}
            <p></p>
          {% elif post.no_of_likes == 1 %}
            <p>{{post.no_of_likes}} person thinks this is fire</p>
          {% else %}
            <p>{{post.no_of_likes}} people think this is fire</p>
          {% endif %}
        </div>

        <div>
          <p>
            <a href="profile/{{post.user}}"><strong>{{post.user}}</strong></a> {{post.caption}}
          </p>
        </div>

      {% endfor %}
  
    </div>

    <script src="{% static 'home.js' %}"></script>
</body>
</html>